*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

html{
    font-size: 60%;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0,0.6);

}
.navbar-menu{
    cursor: pointer;
    margin-right: 200px;
}

.navLogo{
    margin-left: 200px;
} 

nav ul li{
    text-decoration: none;
}
nav ul li a{
    color: beige;
    text-decoration: none;
    font-weight: bold;    
    font-size: 16px;

}

nav ul li a:hover{
    font-size: 16px;
    color: #87006C;
    transition: .3s;
}

.submenu{
    color: white;
    position: absolute;
    display: none;
    list-style: none;
}

nav li:hover .submenu{
    display: block;
}

.submenu li a{
    display: block;
    color: beige;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.LogoT{
    height: 100px;
    width: 250px;
}

.BtonDesplegable{
    height: 25px;
    width: 25px;
}

body {
    height: 100vh;
    width: 100%;
    background-image:  url('../imgs/full-background.png');
}

.container-Form{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: absolute;
    margin-left: 960px;
    margin-top: 388px;   
}


form{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 500px;
    border-radius: 2rem;
    box-shadow: 7px 13px 37px;
    position: absolute;
}

legend{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
}
form fieldset{
    border: none;
}

.camposSelect{
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.623);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
    border: none;


}

.camposSelect option{
    background-color:#6e245f;
}

.campo label{
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 2rem;
    display: block;
}

.campo input{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    color: white;
    text-align: center;
    font-size: 2.2rem;
}

input::placeholder{
    color: rgba(238, 229, 229, 0.74);
}

input:hover{
    background-color: rgba(255, 255, 255, 0.308);
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-button{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 40%;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    height: 3rem;
    background-color: #e74064;
    margin-top: 10px;
    
}

.principal-button:hover{
    cursor: pointer;
    color: #e74064; 
    background-color: white;
}

h5{
    text-align: center;
    margin: 1rem 0;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: #e74064;
}

.footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: absolute;
    padding-top: 1.7rem;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background: black;
    color: white;
    font-size: 16px;
}