* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url(../imgs/fondo-perfil-astral.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

}



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100px;
    width: 100%;

}

.navbar-menu {
    cursor: pointer;
    margin-right: 20px;
}


.navLogo {
    margin-left: 20px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
}




.submenu {
    color: white;
    position: absolute;
    display: none;
    list-style: none;
}

nav li:hover .submenu {
    display: block;
}



.submenu li a {
    display: block;
    color: beige;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.LogoT {
    height: 100px;
    width: 250px;
}

.BtonDesplegable {
    height: 25px;
    width: 25px;
    margin-right: 170px;
}

.container {
    position: absolute;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    top: -1rem;
    font-size: 16px;
    height: 700px;
    width: 1600px;
    
}


form {
    
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 7px 13px 37px;
    overflow: hidden;
    margin: 2rem 0 0 0;
    margin-top: 10%;
}

/* legend{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
} */

form fieldset {
    border: none;
    padding: 2rem;
}

/* 
.selectRegistro{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}
 */


.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    display: block;
}

.campo div {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 1rem;
    height: 5rem;
    color: white;
    text-align: left;
    font-weight: 900;
    padding: 10px 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    
    
}

.footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: absolute;
    padding-top: 1.7rem;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: black;
    color: white;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/05/2022, 19:32:56
    Author     : Guido
*/

