*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

html{
    font-size: 40%;
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    
    background-image:  url('../imgs/full-background.png');
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    margin-top: 10%;
}

form{
    background-color: rgba(255, 255, 255, 0.1);
    width: min(60rem, 100%);
    border-radius: 2rem;
    box-shadow: 7px 13px 37px;
    position: relative;
    overflow: hidden;
    margin: 2rem 0 0 0;
    margin-top: 10%;
}

legend{
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

form fieldset{
    border: none;
    padding: 2rem;
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 2rem;
    display: block;
}

.campo input{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

input::placeholder{
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
}

input:hover{
    background-color: rgba(255, 255, 255, 0.308);
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-button{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 40%;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 2rem 0 0 0;
    height: 4rem;
    font-weight: 800;
    background-color: #e74064;
    
}

.principal-button:hover{
    cursor: pointer;
    color: #e74064; 
    background-color: white;
}

h5{
    text-align: center;
    margin: 1rem 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    color: #e74064;
    font-size: 2rem;
}

