* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body{
    background-image: url(../imgs/fondo-perfilAstral.png);
    background-size: cover;
    object-fit: cover;
    height: 1000px;
    width: 100%;
    
}

/*-------------------------------Navbar------------------------------------*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100px;

}

.navbar-menu {
    cursor: pointer;
    margin-right: 200px;
}

.navLogo {
    margin-left: 200px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
}


nav ul li a:hover {
    color: #87006C;
    transition: .3s;
}

.submenu {
    color: white;
    position: absolute;
    display: none;
    list-style: none;
}

nav li:hover .submenu {
    display: block;
}

.submenu:hover {
    color: #87006C;
    transition: .3s;
}

.submenu li a {
    display: block;
    color: beige;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.LogoT {
    height: 100px;
    width: 250px;
}

.BtonDesplegable {
    height: 25px;
    width: 25px;
    margin-right: 170px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #e74064;
}

/*---------------------------------Main----------------------------------*/

.img-signos{

    width: 130px;
    height: 130px;
    
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 20px;
    color:white;
}

.card-container{

    display: flex;
    width: 600px;
    height: auto;
    
}





/* .containerS{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 100vh;
    width: 100%;
    padding-bottom: 100px;
}



form {
    background-color: rgba(255, 255, 255, 0.1);
    width: min(60rem, 100%);
    border-radius: 2rem;
    box-shadow: 7px 13px 37px;
    position: relative;
    overflow: hidden;
    margin: 2rem 0 0 0;
    margin-top: 10%;
}



form fieldset {
    border: none;
    padding: 2rem;
}

.selectRegistro{
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}


.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 1.4rem;
    display: block;
}

.campo div {
    background-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 2rem;
    height: 4rem;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

input::placeholder {
    color: rgba(238, 229, 229, 0.74);
    padding-left: 2rem;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.308);
}
 */


