<user-main>
          <div class="contenedor">
                <form th:action="@{/ruleta/match}"  method="POST" th:object="${vote}">
                    <div class="foto-contenedor">

                        <div>
                            <img class="foto-usuario" th:src="@{/foto/usuario/__${session.randomUser.id}__}">

                        </div>

                        <div class="nombre-edad ">   
                            <h3 th:text="${session.randomUser.name} + ' ' + ${session.randomUser.surname} + '. ' + ${session.randomUser.age} + '.'"></h3>   
                        </div>

                        <div class="descripcion-perfil">
                           <h3  th:text="${descripcion}"> </h3>
                        </div>

                        <div class="barra-botones">

                            <input type="hidden" th:value="${{session.userSession}}" name="sender" />
                            <input type="hidden" th:value="${{session.randomUser}}" name="receiver" />

                            <button class="buttons" type="button"><a href="/ruleta"><img src="../imgs/boton ruleta.png"
                                                                                         class="btonRuleta"></a></button>

                            <button class="buttons" type="submit"><img src="../imgs/boton corazon.png"
                                                                       class="btonCorazon" ></button>

                        </div>
                    </div>
                </form>   
            </div>
    </user-main>