<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles-about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <title>Acerca de</title>
</head>
<body>
    
    <div>
        <nav class="navbar">
            <a href="/"><img src="../imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
            <ul>
                <li><a href="/acercaDe">Acerca de</a></li>
                <li><a href="/contactanos">Contacto</a></li>
            </ul>
        </nav>

    </div>
    
    <div class="contenedor">
        <p class="p1">
            Somos un grupo de estudiantes de Egg y este es nuestro proyecto final: “Astral Tinder”. El equipo está conformado por ocho integrantes: 
            Carmona Carlos, Miska María, Battigelli Guido, Lobos Lucas, Gómez Eduardo, Sagrario Sebastián, Gómez Romina y Goldsack Emiliana. 
            Esta experiencia nos ha enseñado a participar remotamente desde diversas partes del mundo (Argentina, Paraguay y Canadá),
            resaltando el trabajo en equipo y reafirmando la cooperación entre todos para lograr con los objetivos propuestos.
        </p>
        <br>
        <p class="p2">
           El principal objetivo de Astral Tinder, consiste en encontrar tu pareja a través del zodíaco. 
           Al ingresar, el usuario recibe su carta astral según sus datos personales y dispone de una interfaz que muestra diferentes perfiles 
           con su respectiva información sobre el signo solar, signo lunar, ascendente, elemento y cualidad. 
           Si los usuarios hacen match, ambos son informados y de esa manera se podrá lograr una comunicación entre ellos. 
        </p>
    </div>
    
    
    
    <footer class="footer">
        Copyright. All rights reserved by Astral Tinder Company - 2022.
    </footer>





</body>
</html>