<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles-about.css">
        <link rel="icon" type="image/png" sizes="16x16"  href="../imgs/favicon-16x16.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">

        <title>Acerca de</title>
    </head>
    <body>

        <div>
            <nav class="navbar">
                <a href="/"><img src="../imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
                <ul>
                    <li><a href="/acercaDe">Acerca de</a></li>
                    <li><a href="/contactanos">Contacto</a></li>
                </ul>
            </nav>

        </div>

        <div class="contenedor">
            <p class="p1">
                Somos un grupo de estudiantes de Egg y este es nuestro proyecto final: “Astral Tinder”. 

                Esta linda experiencia nos ha enseñado a participar remotamente desde diversas partes del mundo (Argentina, Paraguay y Canadá),
                aplicando estrategia dinamicas de trabajo en equipo, haciendo énfasis en la cooperación, para lograr nuestros objetivos.
            </p>
            <br>
            <p class="p2">
                Al igual que otras aplicaciones de citas, nuestro proyecto "Astral Tinder" requiere un perfil, fotos y datos personales. 
                Pero también solicita su fecha, hora y lugar de nacimiento para crear una carta de nacimiento, o como nosotros le llamamos "Perfil Astral".
                Los usuarios reciben coincidencias con otros usuarios, respecto a su compatibilidad general y la posibilidad de acceder 
                a información del contacto para comunicarse. Y, lo más importante, esta aplicación hace que las cartas natales de los 
                usuarios coincidentes ("Matches") estén disponibles entre sí, una función que, según nuestro criterio, resuelve el incómodo momento 
                en el que los aficionados a la astrología, tienen que pedir fechas y horas de nacimiento a sus citas para explorar su carta.
            </p>
        </div>



        <footer class="footer">
            Copyright. All rights reserved by Astral Tinder Company - 2022.
        </footer>





    </body>
</html>