<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-tools.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <title>Contacto</title>
</head>
<body>
    
    <div>
        <nav class="navbar">
            <h2 class="logo">Astral <span class="span-logo">Tinder</span></h2>
            <ul>
                <li><a href="../templates/index.html">Menu</a></li>
                <li><a href="../templates/about.html">Acerca de</a></li>
                <li><a href="../templates/contact.html">Contacto</a></li>
            </ul>
            <button type="button">Iniciar sesión</button>
        </nav>

    </div>
    
    <div class="container">
        <div class="logo"><a href="https://facebook.com"><img src="../../imgs/logo-facebook.png" id="fb"></a></div>
        <div class="logo"><a href="https://instagram.com"><img src="../../imgs/logo-instagram.png"></a></div>
        <div class="logo"><a href="https://twitter.com"><img src="../../imgs/logo-twitter.png"></a></div>
        <div class="logo"><a href="https://gmail.com"><img src="../../imgs/logo-gmail.png"></a></div>
    </div>

    
    
    





</body>
</html>