<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../imgs/icono favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles-menu.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet">
        <link rel="icon" href="../imgs/icono favicon.png" type="image/x-icon">
        <title>Menu</title>


    </head>

    <body>

        <Header>
            <nav>
                <div class="navLogo">
                    <a href="/ruleta"><img src="/imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
                </div>
                <div class="navbarUls">
                    <ul class="navbar-menu">
                        <li><i><img src="/imgs/boton desplegable.png" class="BtonDesplegable"></i>

                            <ul class="submenu">
                                <li><a  href="#" th:href="@{'/usuarios/perfil/'+ ${session.userSession.id}}">Mi perfil</a></li> 
                                <li><a  href="#" th:href="@{'/perfilAstral/mostrar/'+ ${session.userSession.id}}">Mi perfil Astral</a></li>
                                <li><a href="#" th:href="@{'/usuarios/modificar/'+ ${session.userSession.id}}">Configuracion de la cuenta</a></li>
                                <li><a href="/ruleta/listmatch">Matches ♥</a></li>
                                <li><a href="/tutorial">Tutorial</a></li>
                                <li><a href="/login/logout">Cerrar sesión</a></li>

                        </li>
                    </ul>
                </div>
            </nav>
        </Header>
        <main>
            <div class="contenedor">
                <div th:class="${compatibilidad == 0 ? 'contenedor-color-poco-compatible' : compatibilidad == 1 ? 'contenedor-color-compatible' : 'contenedor-color-muy-compatible'}" >


                    <form th:action="@{/ruleta/match}"  method="POST" th:object="${vote}">
                        <div class="foto-contenedor">

                            <div>
                                <img class="foto-usuario" th:src="@{/foto/usuario/__${session.randomUser.id}__}">

                            </div>

                            <div class="nombre-edad ">   
                                <h3 th:text="${session.randomUser.name} + ' ' + ${session.randomUser.surname} + '. ' + ${session.randomUser.age} + '.'"></h3>   
                            </div>

                            <div class="descripcion-perfil">
                                <h3  th:text="${descripcion}"> </h3>
                            </div>

                            <div class="barra-botones">

                                <input type="hidden" th:value="${{session.userSession}}" name="sender" />
                                <input type="hidden" th:value="${{session.randomUser}}" name="receiver" />

                                <button class="buttons" type="button"><a href="/ruleta"><img src="../imgs/boton ruleta.png"
                                                                                             class="btonRuleta"></a></button>

                                <button class="buttons" type="submit"><img src="../imgs/boton corazon.png"
                                                                           class="btonCorazon" ></button>
                            </div>
                        </div>
                    </form>   
                </div>
            </div>

            <div class="navbarCard">

                <ul class="Signos">
                    <li><i><img src="/imgs/boton signo solar.png" class="BtonAscendente"></i>
                        <ul class="subSignos">
                            <li><h3>SIGNO SOLAR </h3>
                                <h3  th:text="${session.randomUser.astralPlane.solarSign}"> </h3> </li>
                        </ul>
                    </li>
                </ul>

                <ul class="Signos">
                    <li><i><img src="/imgs/boton signo lunar.png" class="BtonAscendente"></i>
                        <ul class="subSignos">
                            <li><h3>SIGNO LUNAR</h3>
                                <h3  th:text="${session.randomUser.astralPlane.lunarSign}"> </h3> </li>
                        </ul>
                    </li>
                </ul>

                <ul class="Signos">
                    <li><i><img src="/imgs/boton ascendente.png" class="BtonAscendente"></i>
                        <ul class="subSignos">
                            <li><h3>SIGNO ASCENDENTE</h3>
                                <h3  th:text="${session.randomUser.astralPlane.ascendente}"> </h3> </li>

                        </ul>
                    </li>
                </ul>

                <ul class="Signos">
                    <li><i><img src="/imgs/boton elemento.png" class="BtonAscendente"></i>
                        <ul class="subSignos">
                            <li><h3>SIGNO ELEMENTO</h3>
                                <h3  th:text="${session.randomUser.astralPlane.element}"> </h3> </li>
                        </ul>
                    </li>
                </ul>

                <ul class="Signos">
                    <li><i><img src="/imgs/boton cualidad.png" class="BtonAscendente"></i>
                        <ul class="subSignos">
                            <li><h3>SIGNO CUALIDAD</h3>
                                <h3  th:text="${session.randomUser.astralPlane.cualidad}"> </h3> </li>

                        </ul>
                    </li>
                </ul>

            </div>



            <footer class="footer">
                Copyright. All rights reserved by Astral Tinder Company - 2022.
            </footer>

        </main>
        <script src="https://kit.fontawesome.com/712725c422.js" crossorigin="anonymous"></script>
    </body>

</html>