<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles-profile.css">
        <link rel="icon" type="image/png" sizes="16x16"  href="../imgs/favicon-16x16.png">
        <title>Perfil</title>
    </head>
    <body>
         <Header>
            <nav>
                <div class="navLogo">
                    <a href="/ruleta"><img src="/imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
                </div>
                <div class="navbarUls">
                    <ul class="navbar-menu">
                        <li><i><img src="/imgs/boton desplegable.png" class="BtonDesplegable"></i>

                              <ul class="submenu">
                                   <li><a  href="#" th:href="@{'/usuarios/perfil/'+ ${session.userSession.id}}">Mi perfil</a></li>
                                <li><a  href="#" th:href="@{'/perfilAstral/mostrar/'+ ${session.userSession.id}}">Mi perfil Astral</a></li>
                                <li><a  href="#" th:href="@{'/usuarios/modificar/'+ ${session.userSession.id}}">Configuracion de la cuenta</a></li>
                                <li><a href="/ruleta/listmatch">Matches ♥</a></li>
                                <li><a href="/tutorial">Tutorial</a></li>
                                <li><a href="/login/logout">Cerrar sesión</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </Header>
        <div class="container-foto">  
                               <img class="foto-usuario" th:src="@{/foto/usuario/__${user.id}__}">
     </div>
        <div class="container">
                    
            
                    <div class="container-campos">
                        <div class="campo">
                            <label>Nombre</label>
                            <div th:text="${user.name}"> </div>
                        </div>
                    

                   
                        <div class="campo">
                            <label>Apellido</label>
                            <div th:text="${user.surname}"> </div>
                        </div>
                    

                    
                        <div class="campo">
                            <label>Género</label>
                            <div th:text="${user.gender.name}"> </div>

                        </div>
                    

                    
                        <div class="campo">
                            <label>Orientación sexual</label>
                            <div th:text="${user.sexOrient.name}"> </div>
                        </div>
                    

                    
                        <div class="campo">
                            <label>Provincia</label>
                            <div th:text="${user.province.name}"> </div>
                        </div>
                    

                    
                        <div class="campo">
                            <label>Dirección de correo</label>
                            <div th:text="${user.email}"> </div>
                        </div>
                    

                    
                        <div class="campo">
                            <label>Número de telefono</label>
                            <div th:text="${user.phoneNumber}"> </div>
                        </div>
                    

                    
                        <div class="campo">
                            <label for="start">Fecha de nacimiento</label>
                            <div th:text="${user.birth}"> </div>
                        </div>

                    </div>
                    <div class="container-button">
                    <button th:if="${user.id == session.userSession.id}" class="button">
                        <a th:if="${user.id == session.userSession.id}" href="#" th:href="@{'/usuarios/modificar/'+ ${session.userSession.id}}">Modificar Perfil</a>
                    </button>
                    <button  th:if="${user.id != session.userSession.id}"  class="button">
                        <a href="#" th:href="@{'/ruleta/listmatch/'}">Atras</a>
                    </button>
                    </div>
     
        </div>

        <span th:if="${error}" th:text="${error}" > </span>
        
        <footer class="footer">
            Copyright. All rights reserved by Astral Tinder Company - 2022.
        </footer>



    </body>
</html>