<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>ESTE ES EL PROPIO PERFIL DEL USUARIO. DEBE INCLUIR BOTONES PARA MODIFICAR LOS DATOS DEL PERFIL
            <div th:text="${session.userSession.name}"> </div> </h1>
            <td><img th:src="@{/foto/usuario/__${session.userSession.id}__}" style="width: 100%; height: 100px;"></td>




        
    </body>
</html>