<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles-registro.css">
        <link rel="icon" type="image/png" sizes="16x16"  href="../imgs/favicon-16x16.png">
        <title>Registrarse</title>
    </head>

    <body>

        <div>
            <nav class="navbar">
                <a href="/"><img src="../imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
                <ul>
                    <li><a href="/acercaDe">Acerca de</a></li>
                    <li><a href="/contactanos">Contacto</a></li>
                </ul>
            </nav>

        </div>


        <div class="container-Form">
            <form class="form" th:action="@{/usuarios/registro}" th:object="${user}" method="POST"
                  enctype="multipart/form-data">

                <fieldset>

                    <div class="campo">
                        <label>Nombre</label>
                        <input type="text" th:field="*{name}" name="nombre" id="nombre" placeholder="Nombre">
                    </div>



                    <div class="campo">
                        <label>Apellido</label>
                        <input type="text" th:field="*{surname}" name="apellido" id="apellido" placeholder="Apellido">
                    </div>



                    <div class="campo">
                        <label>Género</label>
                        <select class="camposSelect" th:field="*{gender}">
                            <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender.name}">
                            </option>
                        </select>
                    </div>



                    <div class="campo">
                        <label>Orientación sexual</label>
                        <select class="camposSelect" th:field="*{sexOrient}">
                            <option  th:each="sexualOrientation : ${sexualOrientations}" th:value="${sexualOrientation}"
                                     th:text="${sexualOrientation.name}"></option>
                        </select>
                    </div>



                    <div class="campo">
                        <label>Provincia</label>
                        <select class="camposSelect" th:field="*{province}">
                            <option th:each="province : ${provinces}" th:value="${province}" th:text="${province.name}">
                            </option>
                        </select>
                    </div>



                    <div class="campo">
                        <label>Dirección de correo</label>
                        <input type="email" th:field="*{email}" name="email" class="email" placeholder="Email">
                    </div>



                    <div class="campo">
                        <label>Contraseña</label>
                        <input type="password" th:field="*{password}" name="contraseña" id="contraseña"
                               placeholder="Contraseña">
                    </div>



                    <div class="campo">
                        <label>Número de telefono</label>
                        <input type="text" th:field="*{phoneNumber}" name="número de telefono" id="número de telefono"
                               placeholder="Número de telefono">
                    </div>



                    <div class="campo">
                        <label for="start">Fecha de nacimiento</label>
                        <input type="date" th:field="*{birth}" name="nombre" class="nombre">
                    </div>



                    <div class="campo">
                        <label>Hora de nacimiento</label>
                        <input type="time" th:field="*{birthHour}" name="nombre" class="nombre">
                    </div>


                    <div class="campo">
                        <label>Foto de perfil</label>
                        <input type="file" class="form-control" id="file" name="archivo"
                               placeholder="Selecciona una foto de perfil">
                    </div>


                    <div class="button">
                        <input type="submit" class="principal-button" value="Enviar">
                    </div>

                    <h5><a href="/login">¿Ya tienes una cuenta?</a></h5>

                    <span th:if="${error}" th:text="${error}"> </span>
            </form>

        </div>

        <footer class="footer">
            Copyright. All rights reserved by Astral Tinder Company - 2022.
        </footer>
    </body>

</html>