<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles-registro.css">
        <title>Perfil</title>
    </head>
    <body>
        <!--        <h1>ESTE ES EL PROPIO PERFIL DEL USUARIO. DEBE INCLUIR BOTONES PARA MODIFICAR LOS DATOS DEL PERFIL
                    <div th:text="${session.userSession.name}"> </div> </h1>
                    <td><img th:src="@{/foto/usuario/__${session.userSession.id}__}" style="width: 100%; height: 100px;"></td>
        -->

        <div class="container">

            <section class="containerS">
                <h2>Perfil de   <div th:text="${session.userSession.name}"> </div> </h2>
                <!--<form class="form" th:action="@{/usuarios/modificar}" th:object="${user}"  method="POST" enctype="multipart/form-data">-->
                  
                    <!--<input type="text" th:field="*{id}" name="id" th:value="${user.id}" >-->

                    <fieldset>
                        <legend>Este es tu perfil</legend>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Nombre</label>
                                <div th:text="${session.userSession.name}"> </div>
                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Apellido</label>
                                <div th:text="${session.userSession.surname}"> </div>
                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Género</label>
                                <div th:text="${session.userSession.gender.name}"> </div>

                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Orientación sexual</label>
                                <div th:text="${session.userSession.sexOrient.name}"> </div>
                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Provincia</label>
                                <div th:text="${session.userSession.province.name}"> </div>
                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Dirección de correo</label>
                                <div th:text="${session.userSession.email}"> </div>
                            </div>
                        </div>

                        <!--                        <div class="containerDiv">
                                                    <div class="campo">
                                                        <label>Contraseña</label>
                                                        <input type="password" th:field="*{password}" name="contraseña" id="contraseña" placeholder="Tú contraseña">
                                                    </div>
                                                </div>-->

                        <div class="containerDiv">
                            <div class="campo">
                                <label>Número de telefono</label>
                                <div th:text="${session.userSession.phoneNumber}"> </div>
                            </div>
                        </div>

                        <div class="containerDiv">
                            <div class="campo">
                                <label for="start">Fecha de nacimiento</label>
                                <div th:text="${session.userSession.birth}"> </div>
                            </div>
                        </div>

                        <!--                        <div class="containerDiv">
                                                    <div class="campo">
                                                        <label>Hora de nacimiento</label>
                                                        <input type="time" th:field="*{birthHour}" name="nombre" class="nombre" placeholder="Tú nombre">
                                                    </div>
                                                </div>-->
                        <!--                        <div class="containerDiv">
                                                    <div class="campo">
                                                        <label>Foto de perfil</label>
                                                        <input type="file" class="form-control" id="file" name="archivo" />
                                                    </div>
                                                </div>-->
                </form>                            <div class="button">
                </div>

                <h5><a href="#" th:href="@{'/usuarios/modificar/'+ ${session.userSession.id}}">Modificar Perfil</a></h5>

                </fieldset>
                </form>

            </section>

        </div>

        <span th:if="${error}" th:text="${error}" > </span>


    </body>
</html>