<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles-astral-profile.css">
    <title>Perfil Astral</title>
</head>

<body>
        <Header>
            <nav>
                <div class="navLogo">
                    <a href="/"><img src="../imgs/LOGO 2 (HORIZONTAL).png" alt="logo " class="LogoT"></a>
                </div>
                <div class="navbarUls">
                    <ul class="navbar-menu">
                        <li><i><img src="/imgs/boton desplegable.png" class="BtonDesplegable"></i>

                            <ul class="submenu">
                                <li><a href="/usuarios/perfil">Mi perfil</a></li>
                                <li><a href="/perfilAstral/mostrar">Mi perfil Astral</a></li>
                                <li><a href="usuarios/modificar">Configuracion de la cuenta</a></li>
                                <li><a href="#">Cita a ciegas(Prox..)</a></li>
                                <li><a href="/login/logout">Cerrar sesión</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </Header>

        <div class="container">
            <div class="card-container">
            <div class="card-header">
                <a href="#">
                    <img src="../imgs/boton signo solar.png" alt="Logo de Signo Solar" class="img-signos">
                </a>
                <h2>Signo Lunar</h2>
            </div>
            <div class="card-description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum commodi dignissimos vitae 
                    magnam voluptates ad dolor. 
                    ipsum dolor sit amet consectetur, adipisicing elit. Nostrum commodi dignissimos vitae 
                    magnam voluptates ad dolor.
                    ipsum dolor sit amet consectetur, adipisicing elit. Nostrum commodi dignissimos vitae 
                    magnam voluptates ad dolor.
                    Quibusdam sint dolore labore voluptatum quaerat. Adipisci, voluptatem praesentium!</p>
            </div>

            </div>



        </div>





















    </body>

    </html>

<!-- 
        <div class="container">

            <section class="containerS">

                <form class="form" th:action="@{/perfilAstral/mostrar}" th:object="${descripcionAstral}" method="POST">
                    <fieldset>


                        <div class="containerDiv">
                            <div class="campo">
                                <label>Signo Solar</label>
                                <h1>Hola</h1>
                            <div></div>
                            </div>
                        </div>
                        <div class="containerDiv">
                            <div class="campo">
                                <label>Signo Lunar</label>
                                <div></div>
                            </div>
                        </div>
                        <div class="containerDiv">
                            <div class="campo">
                                <label>Ascendente</label>
                                <div></div>
                            </div>
                        </div>
                        <div class="containerDiv">
                            <div class="campo">
                                <label>Elemento</label>
                                <div></div>

                            </div>
                        </div>
                        <div class="containerDiv">
                            <div class="campo">
                                <label>Cualidad</label>
                                <div></div>

                            </div>
                        </div>

                    </fieldset>
                </form>
            </section> -->

